<hr>
<div style="width: 400px; height:auto">
  <form name="form" [formGroup]="form" (ngSubmit)="form.valid && save()">
    
    <!-- <div class="form-group">
      <label for="prodId">Product Id</label>
      <input type="text" class="form-control" id="prodId" required [(ngModel)]="product.prodId" name="prodId">
    </div> -->

    <div class="form-group">
      <label for="prodName">Product Name</label>
      <input type="text" class="form-control" id="prodName" formControlName="prodName" required [(ngModel)]="product.prodName" name="prodName">
      <span class="error" *ngIf="prodName.invalid && prodName.touched">Product Name is required.</span>
    </div>

    <div class="form-group">
      <label for="prodPrice">Product Price(₹)</label>
      <input type="text" class="form-control" id="prodPrice" formControlName="prodPrice" required [(ngModel)]="product.prodPrice" name="prodPrice">
      <div *ngIf="prodPrice.invalid && prodPrice.touched">
        <span class="error" *ngIf="prodPrice.errors.required">Product Price is required.</span>
        <span class="error" *ngIf="prodPrice.errors.pattern">Price can be only numbers.</span>
      </div>
    </div>

    <div class="form-group">
      <label for="expDate">Product Expiry("yyyy-mm-dd")</label>
      <input type="text" class="form-control" id="expDate" formControlName="expDate" required [(ngModel)]="product.expDate" name="expDate">
      <span class="error" *ngIf="expDate.invalid && expDate.touched">Expiry Date is required.</span>
    </div>

    <div class="form-group">
      <label for="product.category.categoryId">Product's CategoryId</label>
      <input type="text" class="form-control" id="product.category.categoryId" formControlName="categoryId" required [(ngModel)]="product.category.categoryId" name="product.category.categoryId">
      <div *ngIf="categoryId.invalid && categoryId.touched">
        <span class="error" *ngIf="categoryId.errors.required">Product's CategoryId is required.</span>
        <span class="error" *ngIf="categoryId.errors.pattern">Id can only be a number.</span>
        </div>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!form.valid">Submit</button>
  </form>
</div>
