<hr>
<div [hidden]="submitted" style="width: 400px; height:auto">
  <form (ngSubmit)="save()">
    
    <!-- <div class="form-group">
      <label for="prodId">Product Id</label>
      <input type="text" class="form-control" id="prodId" required [(ngModel)]="product.prodId" name="prodId">
    </div> -->

    <div class="form-group">
      <label for="prodName">Product Name</label>
      <input type="text" class="form-control" id="prodName" required [(ngModel)]="product.prodName" name="prodName">
    </div>

    <div class="form-group">
      <label for="prodPrice">Product Price</label>
      <input type="text" class="form-control" id="prodPrice" required [(ngModel)]="product.prodPrice" name="prodPrice">
    </div>

    <div class="form-group">
      <label for="expDate">Product Expiry</label>
      <input type="text" class="form-control" id="expDate" required [(ngModel)]="product.expDate" name="expDate">
    </div>

    <div class="form-group">
      <label for="product.category.categoryId">Product Category</label>
      <input type="text" class="form-control" id="product.category.categoryId" required [(ngModel)]="product.category.categoryId" name="product.category.categoryId">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div *ngIf="submitted">
  <h4>You submitted successfully!</h4>
</div>
