<div class="container">
<div class="panel panel-primary">
    <div class="panel-heading">
      <h1 style="text-align: center;"><b>Order History</b></h1>
      <label for="search" class="col-sm-4 col-form-label">Search</label>
<div class="col-sm-4">
    <input type="text" [(ngModel)]="searchValue" class="form-control" id="search" placeholder="Search Single order"/>
</div>
<br>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
        <tr>
            <th style="text-align: center;">#</th>
            <th style="text-align: center;">Date</th>
            <th style="text-align: center;">Total</th>
            <th style="text-align: center;">Order Details</th>
       </tr>
    </thead>
    <tbody>
 <tr *ngFor="let b of cust.sweetOrders | searchfilterorder:searchValue">
   <td style="text-align: center;">{{b.orderId}}</td>
   <td style="text-align: center;">{{b.date | date:"fullDate"}}</td>
   <td style="text-align: center;"> {{b.totalCost | currency:"INR" }}</td>
                <td style="text-align: center;"><button (click)="SweetOrderDetails(b.orderId)" class="btn btn-info" style="margin-left: 10px"><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;Details</button>
            </td>
          </tr>
       </tbody>
      </table>
  </div>
</div>