<!-- <div id="img">
  <div class="container">
    <form action="/action_page.php">
      <label for="fname">First Name</label>
      <input
        type="text"
        id="fname"
        name="firstname"
        placeholder="Your name.."
      />

      <label for="lname">Last Name</label>
      <input
        type="text"
        id="lname"
        name="lastname"
        placeholder="Your last name.."
      />

      <label for="State">Select State</label>
      <select id="State" name="State">
        <option value="australia">Telangana</option>
        <option value="canada">Andhra Pradesh</option>
        <option value="usa">Tamil Nadu</option>
      </select>

      <label for="subject">Subject</label>
      <textarea
        id="subject"
        name="subject"
        placeholder="Write something.."
        style="height: 200px"
      ></textarea>

      <input class="sub" type="submit" value="Submit" />
    </form>
  </div>
</div>
<br />
<div class="row">
  <div class="col-8">
  <h2 style="text-align: center; text-decoration: underline;">Our Outlet</h2>
  <p style="text-align: center;">
    115/32 & 35
    </p>
    <p style="text-align: center;">
     ISB Rd, Financial District, Nanakaramguda
    </p>
    <p style="text-align: center;">Telangana 500032,
    India
  </p>
  <p style="text-align: center;">
    <i class="fa fa-mobile" aria-hidden="true" ></i>  :   +91 1234567892</p>
</div>
<div class="mapouter col-4">
  <div class="gmap_canvas">
    <iframe
      width="398"
      height="316"
      id="gmap_canvas"
      src="https://maps.google.com/maps?q=capgemini,ISB%20Road&t=k&z=15&ie=UTF8&iwloc=&output=embed"
      frameborder="0"
      scrolling="no"
      marginheight="0"
      marginwidth="0"
    >
    </iframe
    ><a href="https://123movies-to.org">123movies</a><br /><style>
      .mapouter {
        position: relative;
        text-align: right;
        height: 316px;
        width: 398px;
      }</style
    ><a href="https://www.embedgooglemap.net"
      >how to embed google map on website</a
    ><style>
      .gmap_canvas {
        overflow: hidden;
        background: none !important;
        height: 316px;
        width: 398px;
      }
    </style>
  </div>
</div>
</div> -->

<div class="jumbotron jumbotron-sm">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 col-lg-12">
              <h1 class="h1">
               Feel free to contact us</h1>
          </div>
      </div>
  </div>
</div>
  <div class="row row-mar">
      <div class="col-md-5">
          <div class="well well-sm">
              <form>
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="name">
                              Name</label>
                          <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" />
                      </div>
                      <div class="form-group">
                          <label for="email">
                              Email Address</label>
                          <div class="input-group">
                              <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                              </span>
                              <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" /></div>
                      </div>
                      <div class="form-group">
                          <label for="subject">
                              Subject</label>
                          <select id="subject" name="subject" class="form-control" required="required">
                              <option value="na" selected="">Choose One:</option>
                              <option value="service">General Customer Service</option>
                              <option value="suggestions">Suggestions</option>
                              <option value="product">Product Support</option>
                          </select>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="name">
                              Message</label>
                          <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                              placeholder="Message"></textarea>
                      </div>
                  </div>
                  <div class="col-md-12">
                      <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                          Send Message</button>
                  </div>
              </div>
              </form>
          </div>
      </div>
      <div class="col-md-3">
          <form>
          <legend><span class="glyphicon glyphicon-globe" style="text-align: center; text-decoration:underline"></span> Our outlet</legend>
          <address>
            <p style="text-align: center;">
              115/32 & 35
              </p>
              <p style="text-align: center;">
               ISB Rd, Financial District, Nanakaramguda
              </p>
              <p style="text-align: center;">Telangana 500032,
              India
            </p>
            <p style="text-align: center;">
              <i class="fa fa-mobile" aria-hidden="true" ></i>  :   +91 1234567892</p>
          </address>
              <strong>Or write to us at..</strong>
              <br>
              <br>
              <a href="mailto:#">a.a.prashanth@capgemini.com</a>
          </form>
      </div>
      <div class="mapouter col">
        <div class="gmap_canvas">
          <iframe
            width="398"
            height="316"
            id="gmap_canvas"
            src="https://maps.google.com/maps?q=capgemini,ISB%20Road&t=k&z=15&ie=UTF8&iwloc=&output=embed"
            frameborder="0"
            scrolling="no"
            marginheight="0"
            marginwidth="0"
          >
          </iframe
          ><a href="https://123movies-to.org">123movies</a><br /><style>
            .mapouter {
              position: relative;
              text-align: right;
              height: 316px;
              width: 398px;
            }</style
          ><a href="https://www.embedgooglemap.net"
            >how to embed google map on website</a
          ><style>
            .gmap_canvas {
              overflow: hidden;
              background: none !important;
              height: 316px;
              width: 398px;
            }
          </style>
        </div>
      </div>
  </div>

