<div class="row">
    <div class="column">
      <div class="card"> 
        <img style="margin-left: 180px;" src="../../assets/Prashanth.jfif" alt="Prashanth" width="200px" height="200px">
        <div class="container">
          <h2 style="text-align: center;">A Prashanth</h2>
          <p style="text-align: end;" class="title">-Analyst at Capgemini</p>
          <p><b>Description</b></p>
          <p style="text-align: 70px;">Email : a.a.prashanth@capgemini.com</p>
          <a style="margin-left: 210px;" href="https://www.linkedin.com/in/prashanth-aripirala-31a16a177/" target="_blank"><i class="fa fa-linkedin-square" style="font-size:48px"></i></a>
        </div>
      </div>
    </div> 
  
    <div class="column">
      <div class="card">
        <img src="img2.jpg" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Mike Ross</h2>
          <p class="title">Art Director</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>example@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="img3.jpg" alt="John" style="width:100%">
        <div class="container">
          <h2>John Doe</h2>
          <p class="title">Designer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>example@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

