<!-- <div class="row">
    <div class="column">
      <div class="card"> 
        <img style="margin-left: 180px;" src="../../assets/Prashanth.jfif" alt="Prashanth" width="200px" height="200px">
        <div class="container">
          <h2 style="text-align: center;">A Prashanth</h2>
          <p style="text-align: end;" class="title">-Analyst at Capgemini</p>
          <p><b>Description</b></p>
          <p style="text-align: 70px;">Email : a.a.prashanth@capgemini.com</p>
          <a style="margin-left: 210px;" href="https://www.linkedin.com/in/prashanth-aripirala-31a16a177/" target="_blank"><i class="fa fa-linkedin-square" style="font-size:48px"></i></a>
        </div>
      </div>
    </div> 
  
    <div class="column">
      <div class="card">
        <img src="img2.jpg" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Mike Ross</h2>
          <p class="title">Art Director</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>example@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="img3.jpg" alt="John" style="width:100%">
        <div class="container">
          <h2>John Doe</h2>
          <p class="title">Designer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>example@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
 -->


 <body>
  <section class="about-section">
      <div class="container">
         <div class="row">
             <div class="col-lg-6 col-md-12 about-text">
                 <div class="section-heading space-overflow">
                    <!-- <div  class="section-title">   Welcome to the House of Reddy's    -->
                     <!-- <h4 style="color: blue;">FRIEND'S SWEET MART, Since 1942,<em> We had been serving customers around the world with high-quality, authentic Indian foods made from traditional family recipes.</em></h4><br><h5><b>Address :<br>Liberty Road,Opp TTD Temple,<br>Himayatnagar,<br>Hyderabad-500029,Telangara.</b></h5> -->
                    <!-- </div> -->
                 </div>
                 <!-- <div class="space-t-40 space-b-40">
                    <h4> <p> </p> </h4>
                 </div> -->
             </div>
             </div>
         </div>
   </section>

  <br>
  <hr>
  <h2><p class="p1" style="text-align: center;">About Us</p></h2>
  <div class="container1">
   <p class="p2" style="text-align: center;">Handcrafting  Celebrations Since 1993</p> 
   <p class="aligncenter">
   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSi2WDbK2zsdek4lvsLFJJ3Rg2FlE7TVFDc7w&usqp=CAU" alt="image" style="width: 50%; border-radius: 10px;" >
  </p>
  <h3><p class="p4">Sweet is a colorful commodity and attractive item in the dish of meal, without which any Indian family do not relish their enjoyment in taking food. It has always been mouth watering in dish of whole meal and it is inevitable commodity for all pious and ceremonial occasions including the days of festivals.</p><br></h3>
  <h3><p class="p3">Reddy's made a humble beginning in 1993 when Mr. Rajesh Reddy started 'Reddy's Mithai Vatika' at Himayatnagar, Hyderabad which was an 800 sq. ft. small shop. Today, Reddy's is a food business group with special ventures focused on sweets, savouries, fine dining vegetarian restaurants, gelato, Turkish sweets and bakery. Dadu's is very popular among its customers, and we owe this success to our relentless drive to maintain taste, hygiene, quality and our passion for customer satisfaction.</p></h3>
  </div>
</body>
  <br>
  <h2><p class="p5"style="text-align: center;">Meet The Team</p></h2>
  <div class="row">
      <div class="column">
        <div class="card"> 
          <img style="margin-left: 180px;  border-radius: 10px; margin-top: 10px;" src="../../assets/Prashanth.jfif" alt="Prashanth" width="200px" height="200px">
          <div class="container">
            <h2 style="text-align: center;">A Prashanth</h2>
            <p style="text-align: end;" class="title">-Analyst at Capgemini</p>
            <p><b>Description</b></p>
            <p style="text-align: 70px;">Email : a.a.prashanth@capgemini.com</p>
            <a style="margin-left: 210px;" href="https://www.linkedin.com/in/prashanth-aripirala-31a16a177/" target="_blank"><i class="fa fa-linkedin-square" style="font-size:48px"></i></a>
          </div>
        </div>
      </div> 
    
      <div class="column">
        <div class="card">
          <img src="img2.jpg" alt="Mike" style="width:100%">
          <div class="container">
            <h2>Mike Ross</h2>
            <p class="title">Art Director</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>example@example.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
          <img src="img3.jpg" alt="John" style="width:100%">
          <div class="container">
            <h2>John Doe</h2>
            <p class="title">Designer</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>example@example.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>    
 </div>
