<div class="panel panel-primary">
  <div class="panel-heading">

    <h2><b>Category List</b></h2>
  
    
    <label for="search" class="col-sm-4 col-form-label">Search</label>
    <div class="col-sm-4">
        <input type="text" [(ngModel)]="searchValue" class="form-control" id="search" />
    </div>
    <br>

  </div>

  <div class="panel-body">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Category Id</th>
          <th>Category Name</th>
          
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of category | searchfiltercategory:searchValue">
          <td>{{p.categoryId}}</td>
          <td>{{p.name}}</td>
          
          <td><button (click)="deleteCategory(p.categoryId)" class="btn btn-danger">Delete</button>
            <button (click)="updateCategory(p.categoryId)" class="btn btn-info" style="margin-left: 10px">Update</button>
              <button (click)="CategoryDetails(p.categoryId)" class="btn btn-info" style="margin-left: 10px">Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
</div>

