<div class="sidebar">
  <a routerLink="products" class="nav-link"  routerLinkActive="active"><i class="fa fa-list" aria-hidden="true"></i>&nbsp;Product List</a>
  <br>
  <a routerLink="add" class="nav-link"  routerLinkActive="active"><i class="fa fa-plus-square-o" aria-hidden="true"></i>&nbsp;Add Product</a>
  <br>
  <a routerLink="sweetorder" class="nav-link"  routerLinkActive="active"><i class="fa fa-list" aria-hidden="true"></i>&nbsp;Sweet Orders</a>
  <br>
  <a routerLink="category" class="nav-link"  routerLinkActive="active"><i class="fa fa-list" aria-hidden="true"></i>&nbsp;Category</a>
  <br>
  <a routerLink="addcategory" class="nav-link"  routerLinkActive="active"><i class="fa fa-plus-square-o" aria-hidden="true"></i>&nbsp;Add Category</a>
  <br>
  <a routerLink="customers" class="nav-link"  routerLinkActive="active"><i class="fa fa-list" aria-hidden="true"></i>&nbsp;Customer List</a>
</div>

<!-- Page content -->
<div class="content">
  <router-outlet></router-outlet>
</div>
