<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
        <a routerLink="products" class="nav-link btn btn-dark"  routerLinkActive="active"><i class="fa fa-list" aria-hidden="true"></i>&nbsp;Product List</a>
    </li>&nbsp;&nbsp;
    <li class="nav-item">
        <a routerLink="add" class="nav-link btn btn-dark"  routerLinkActive="active"><i class="fa fa-plus-square-o" aria-hidden="true"></i>&nbsp;Add Product</a>
    </li>
  </ul>
</nav>

<!-- <div class="navbar">
  <div class="dropdown">
    <button class="dropbtn">Product
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="products" class="nav-link" ><i class="fa fa-list" aria-hidden="true"></i>&nbsp;Product List</a>
      <a href="add" class="nav-link"><i class="fa fa-plus-square-o" aria-hidden="true"></i>&nbsp;Add Product</a>
    </div>
  </div>
</div> -->
<div class="container">
  <br>
  <hr>  
  <div class="card">
    <div class="card-body">
  <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
  </div>
</footer>