
<div class="panel panel-primary">
    <div class="panel-heading">
      <h2><b>Sweetorder List</b></h2>
      <label for="search" class="col-sm-4 col-form-label">Search</label>
<div class="col-sm-4">
    <input type="text" [(ngModel)]="searchValue" class="form-control" id="search" placeholder="Search Single order"/>
</div>
<br>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Total</th>
            <th>Actions</th>
       </tr>
    </thead>
    <tbody>
 <tr *ngFor="let b of sweetorders | searchfilterorder:searchValue">
   <td>{{b.orderId}}</td>
   <td>{{b.date}}</td>
   <td> {{b.totalCost | currency:"INR" }}</td>
                <td><button (click)="SweetOrderDetails(b.orderId)" class="btn btn-info" style="margin-left: 10px">Details</button>
            </td>
          </tr>
       </tbody>
      </table>
  </div>

  <!-- <img src="http://i.stack.imgur.com/nGbfO.png" width="8" height="10"> -->