<div id="app" style="font-size: 20px;">
  <header>
  <nav class="navbar navbar-expand bg-dark"  >
    <a href="#" class="navbar-brand">Online SweetMart</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home"><i class="fa fa-fw fa-home"></i>Home </a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard && isLoggedIn">
        <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
      </li>
      <li class="nav-item" *ngIf="showUserBoard && isLoggedIn">
        <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">User</a>
      </li>
      <li class="nav-item">
        <a href="/about" class="nav-link" routerLink="about">About</a>
      </li>
      <li class="nav-item">
        <a href="/contact" class="nav-link" routerLink="contact">Contact Us</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link btn btn-primary" style="color: white;"  routerLink="register"><i class="fa fa-user-plus" aria-hidden="true"></i>   Sign Up</a>
      </li> &nbsp;&nbsp;
      <li class="nav-item">
        <a href="/login" class="nav-link btn btn-warning" style="color: white;" routerLink="login"><i class="fa fa-fw fa-user"></i>Login</a>
      </li>
    </ul>

    <!-- <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>
</header> -->

<ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
  <li class="nav-item">
    <div class="dropdown">
    <button class="btn btn-primary">{{ username }}&nbsp;<i class="fa fa-caret-down"></i></button>
  <div class="dropdown-content">
    <a href="/profile" class="nav-link" routerLink="profile">My Profile</a>
  </div>
  </div>
  </li>
  &nbsp;&nbsp;
  <li class="nav-item">
    <a href class="nav-link btn btn-warning" style="color: white;" (click)="logout()">LogOut&nbsp;<i class="fa fa-sign-out" aria-hidden="true"></i></a>
  </li>
</ul>
</nav>
</header>
<marquee behaviour="alternate" BGCOLOR="burlywood"><b style="color: darkred">OFFER ALERT</b> Get 5% discount. Use code <b>STAYSAFE</b></marquee>

    <router-outlet></router-outlet>

</div>