<h2>Customer Details</h2> 

<hr/>
<div *ngIf="customer">
    <div>
        <label><b>User Id: </b></label> {{customer.id}}
      </div>  
  <div>
    <label><b>User Name: </b></label> {{customer.username}}
  </div>
  <div>
    <label><b>Email: </b></label> {{customer.email}}
  </div>
  <div>
    <label><b>Contact No: </b></label> {{customer.address.contactNo}}
  </div>  
  <div>
    <label><b>City: </b></label> {{customer.address.city}}
  </div>  
  <div>
    <label><b>Zip: </b></label> {{customer.address.zip}}
  </div>  
</div>
<!-- <button (click)="getCustomerbyId()" class="btn btn-danger">Get customer</button> -->
<br>
<button (click)="list()" class="btn btn-primary">Back to Customer List</button><br>
<br>
<br>



