/* h1{
    background-color: #aec2cf;
    color: #bb60be;
   
}
body {background-color: rgb(241, 84, 22);}
td,tr{
    color: rgb(2, 12, 11);
}
th{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.button {background-color: #4CAF50;}
table{
    width: 200;
    border:solid;
    align-items: center;
}
thead{
    border:solid;
    align-items: center;
}
tr{
    border:solid
} */