<div class="container">
  <div *ngIf="sweetorder">
      <h1 style="text-align: center;"><strong>Order #{{sweetorder.orderId}}</strong></h1>
   
    <div class="row">
      <div class="col-10">
      <label><b>Order Date: </b></label> {{sweetorder.date | date:'fullDate'}}
      </div>
      <div class="col-2">
      <div id =d2>
        <label><b>Total Cost: </b></label> {{sweetorder.totalCost | currency:'INR'}}
      </div>
    </div>
  </div>
  <label id= L1>Contents</label>
  <div class="row">
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
    </tr>
    <tr *ngFor="let p of sweetorder.prodList">
      <td>{{p.prodId}}</td>
      <td>{{p.prodName}}</td>
      <td>{{p.prodPrice}}</td>
    </tr>
  </table>
  </div>
  </div>
  
  <br>
  <br>
  <button (click)="list()" class="btn btn-primary">Back to Orders</button><br>
  </div>
  
  