<!-- <div class="sidebar">
  <div *ngFor="let p of "></div>
</div> -->
<div class="container">
<div class='card'>
  <div class='card-header'>
    {{pageTitle}}
  </div>
  <div class='card-body'>
    <div class='row'>
      <div class='column col-md-2'><i class="fa fa-search" aria-hidden="true"></i>&nbsp;Search :</div>
      <br>
      <br>
      <div class='column'>
        <div class='col-md-2'>
        <!-- <input type='text' [(ngModel)]='listFilter' /> -->
        <input type="text" [(ngModel)]="listFilter" class="form-control" id="listFilter" placeholder="Search product"/>
      </div>
    </div>
    </div>
    <div class='row' *ngIf='listFilter'>
      <div class='col-md-2'>
        <h4>Search: {{listFilter}}</h4>
      </div>
    </div>
    <div class="row" style="align-items: center;">
     
      <div *ngFor='let p of filteredProducts'>
        <!-- <div class="col-6"> -->
        <div class="card" style="padding:10px; margin:10px; ">
          <!-- <div class="row"> -->
            <div class="column">
            <a [routerLink]="['/products', p.prodId]">
              <img src="./assets/{{p.prodName}}.jpg" [style.width.px]='imageWidth' [style.height.px]='imageHeight' style="margin-left: 50px;"></a>
              <br>
            <a [routerLink]="['/products', p.prodId]" style="padding:10px;">
              {{ p.prodName | titlecase }}</a>
              <br >
              <p style="padding:10px;">{{p.prodPrice | currency:"INR" :'symbol':'1.2-2'}}</p>
              <!-- <br> -->
              <button class='btn btn-primary'
                        (click)='addToOrder(p)' id={{p.prodId}}  value="{{p.prodName}}">
                  Add to Cart
              </button>
            </div>
          </div>
        </div>
      <!-- </div> -->
    </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-10"></div>
  <div class="col-md-2">
    <button class='btn btn-info' (click)="gotoCart()">Continue to Cart</button>
  </div>
</div>
</div>
<div *ngIf='errorMessage' class='alert alert-danger'>
  Error: {{ errorMessage }}
</div>