<br><br>
<div class="container">
<div class="row">
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/Desktop1.jpg" alt="Random fourth slide"  height="500px" width="100%">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/sweet1.jpg" alt="Random first slide" height="500px" width="100%" style="border-radius: 4px;">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/sweet2.jpg" alt="Random second slide"  height="500px" width="100%">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/sweet3.jpg" alt="Random third slide"  height="500px" width="100%">
      </div>
    </ng-template>
   
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/Desktop3.jpg" alt="Random fifth slide"  height="500px" width="100%">
      </div>
    </ng-template>
  </ngb-carousel>
</div>
</div>
<hr>
<div class="row">
  <div class="card">
    <img src="../assets/sweet1.jpg" alt="Denim Jeans" style="width:100%">
    <h1>Tailored Jeans</h1>
    <p class="price">$19.99</p>
    <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
    <p><button>Add to Cart</button></p>
  </div>
  <div class="card">
    <img src="../assets/sweet1.jpg" alt="Denim Jeans" style="width:100%">
    <h1>Tailored Jeans</h1>
    <p class="price">$19.99</p>
    <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
    <p><button>Add to Cart</button></p>
  </div>
   <div class="card">
    <img src="../assets/sweet1.jpg" alt="Denim Jeans" style="width:100%">
    <h1>Tailored Jeans</h1>
    <p class="price">$19.99</p>
    <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
    <p><button>Add to Cart</button></p>
  </div>
  <div class="card">
    <img src="../assets/sweet1.jpg" alt="Denim Jeans" style="width:100%">
    <h1>Tailored Jeans</h1>
    <p class="price">$19.99</p>
    <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
    <p><button>Add to Cart</button></p>
  </div>
</div>
