<br><br>
<div class="container">
<div class="row">
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/Desktop1.jpg" alt="Random fourth slide"  height="500px" width="100%">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/sweet1.jpg" alt="Random first slide" height="500px" width="100%" style="border-radius: 4px;">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/sweet2.jpg" alt="Random second slide"  height="500px" width="100%">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/sweet3.jpg" alt="Random third slide"  height="500px" width="100%">
      </div>
    </ng-template>
   
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/Desktop3.jpg" alt="Random fifth slide"  height="500px" width="100%">
      </div>
    </ng-template>
  </ngb-carousel>
</div>
</div>
<hr>
<div class="row">
  <div class="card">
    <img src="../assets/carrot halwa.jpg" alt="Carrot Halwa" style="width:100%">
    <h1><b>Carrot Halwa</b></h1>
    <p class="price">₹80.00</p>
    <p>Gajar ka halwa, is a carrot-based sweet dessert pudding from the Indian subcontinent, made by placing grated carrots in a pot containing water, milk and sugar, cardamom and then cooking while stirring regularly.It is served with a garnish of almonds and pistachios.</p>
    <p><button  (click) ="navigateToLogin()">Add to Cart</button></p>
  </div>
  <div class="card">
    <img src="../assets/gulab jamun.jpg" alt="Gulab Jamun" style="width:100%">
    <h1><b>Gulab Jamun</b></h1>
    <p class="price">₹200.00</p>
    <p> Gulab jamun, is a milk-solid-based sweet from the Indian subcontinent, popular in India, Nepal, the Maldives, and a type of mithai, popular in India, made mainly from milk solids and flour , traditionally from Khoya and finally dipped in hot pipping sweet sugar syrup.</p>
    <p><button  (click) ="navigateToLogin()">Add to Cart</button></p>
  </div>
   <div class="card">
    <img src="../assets/motichoor laddu.jpg" alt="Motichoor Laddu" style="width:100%">
    <h1><b>Motichoor Ladoo</b></h1>
    <p class="price">₹150.00</p>
    <p>Commonly offered as prasad,Motichoor Ladoo is a favourite festive treat across India.It is round-shaped sweet made from fine,tiny balls of besan.</p>
    <p><button  (click) ="navigateToLogin()">Add to Cart</button></p>
  </div>
  <div class="card">
    <img src="../assets/rasmalai.jpg" alt="Rasmalai" style="width:100%">
    <h1><b>Rasmalai</b></h1>
    <p class="price">₹150.00</p>
    <p>Ras malai or rossomalai,is a dessert originating from the Indian subcontinent.It consists of flattened balls of chhana soaked in malai (clotted cream) flavoured with cardamom.</p>
    <p><button (click) ="navigateToLogin()">Add to Cart</button></p>
  </div>
</div> 

<!-- <div class="row" style="align-items: center;" >
  <div *ngFor='let p of filteredProducts'>
    <div class="card" style="padding:10px; margin:10px; ">
      <div class="column">
        <a [routerLink]="['/products', p.prodId]">
          <img src="./assets/{{p.prodName}}.jpg" [style.width.px]='imageWidth' [style.margin.px]='imageMargin'
            [style.height.px]='imageHeight'></a>
      <br>
        <input type="checkbox" value="{{p.prodName}}" />
        <a [routerLink]="['/products', p.prodId]">
          {{ p.prodName }}</a><br>
          <button class='btn btn-primary'
                    (click)='addToOrder(p)' id={{p.prodId}}  value="{{p.prodName}}">
              Add to Cart
          </button>
      </div>
    </div>
  </div>
</div> -->